.table-rounded {
  border-radius: 0.9rem;
}

.noresult-div {
  margin-top: 150px;
}

.fav-title{
  font-size: 19px;
  color: #75ffe4;
}





.table td, .table th {
  padding-top: 0.35rem ;
  padding-bottom: 0.35rem ;
}


.table-div {
  max-width: 920px;
}

.par-div{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 61px;
}


